#newest-arrivals {
  box-sizing: border-box;
  padding-bottom: 50px;
  background-color: black;
  bottom: 1px;
}

.div-w-pic {
  box-sizing:border-box;
  float: left;
  width: 25%;
  height: 80vh;
  text-align: center;
}

#Kuddles {
  background-color: pink;
}

#Niko {
  background-color: lightgreen;
}

#Leena {
  background-color: peachpuff;
}

#Pilo {
  background-color: lavender;
}

img {
  box-sizing:border-box;
  max-width: 98%;
  max-height: auto;
  margin: auto;
  border: 5px ridge ;
}
